.timer {
    width: 100px !important;
    height: 50px !important;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer span{
    display: block;
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.todo-list li .icon-play {
    font-size: 15px;
    position: relative !important;
    left: 10px;
}

.todo-list li .icon-pause {
    font-size: 15px;
    position: relative !important;
}

.icon{
    font-size: 10px;
}

.icon-pause:after {
    content: '⏸';
}

.icon-play:after {
    content: '▶';
}
